[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "faoutlier"]
	path = faoutlier
	url = https://github.com/philchalmers/faoutlier
	shallow = true
	registered = true
[submodule "plotSEMM"]
	path = plotSEMM
	url = https://github.com/philchalmers/plotsemm
	shallow = true
	registered = true
[submodule "SimDesign"]
	path = SimDesign
	url = https://github.com/philchalmers/simdesign
	shallow = true
	registered = true
