[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "SimDesign"]
	path = SimDesign
	url = https://github.com/philchalmers/simdesign
[submodule "Spower"]
	path = Spower
	url = https://github.com/philchalmers/spower
[submodule "faoutlier"]
	path = faoutlier
	url = https://github.com/philchalmers/faoutlier
[submodule "mirt"]
	path = mirt
	url = https://github.com/philchalmers/mirt
[submodule "mirtCAT"]
	path = mirtCAT
	url = https://github.com/philchalmers/mirtcat
[submodule "plotSEMM"]
	path = plotSEMM
	url = https://github.com/philchalmers/plotsemm
